



<body>
    <a name="sc"></a>
    <div>
        <br />
        <h3 id="success">Thank you for updating your account, we will keep you posted as we get closer to the launch date.</h3>
    </div>
    <script>
        window.location.hash = '#sc';
    </script>
</body>
